@font-face {
    font-family: IRANSANS;
    src: url("/styles/Iranian Sans.ttf");
}
body{
    direction: rtl;
    font-family: IRANSANS !important;
    overflow-x: hidden;
}
@media only screen and (max-width: 600px){
    .landing-img{
        width: 100%;
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 600px){
    .landing-img{
        width: 100vh;
        height: 70vh;
    }
    .services-border-first{
        border-left: 1px dashed #e3eaf2;
        border-right: 1px dashed #e3eaf2;
        border-bottom: 1px dashed #e3eaf2;
        padding: 20px;
    }
    .services-border-second{
        border-left: 1px dashed #e3eaf2;
        border-right: 1px dashed #e3eaf2;
    }
    .services-br{
        border-top: 1px dashed #e3eaf2;
    }
    .nav-custom{
        border-bottom-left-radius: 250px;
        background-color: rgba(239, 239, 250, 0.61);
        border-bottom-right-radius: 250px;
        margin-left: 50px;
        margin-right: 50px;
    }
}
.services-btn{
    border-radius: 45px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.services-img{
    height: 90px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.p20{
    padding: 20px;
}
.why-space{
    background-color: rgba(239, 239, 250, 0.61);
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 5rem;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
    min-height: 300px;
}
.sample-space{
    background-color: rgba(239, 239, 250, 0.61);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5rem;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    min-height: 300px;
}
.footer-style{
    background-color: #4e555b;
    color: white;
    text-align: right;
}
.footer-list{
    display: grid;
}
.list-style{
    color: white!important;
    text-decoration: none!important;
}
.footer-fix{
    font-weight: 300;
    margin-top: auto;
    background-color: black;
    padding: 10px;
}
.safety-img{
    height: 60px;
    width: 60px;
    background-color: red;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
}
.full-job{
    height: 60px;
    width: 60px;
    background-color: #0271d2;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
}
.custom-way{
    height: 60px;
    width: 60px;
    background-color: #47005f;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
}
.customer-service{
    height: 60px;
    width: 60px;
    background-color: #53aa0f;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
}
.pricing{
    height: 60px;
    width: 60px;
    background-color: #efa62a;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
}
.pack{
    height: 60px;
    width: 60px;
    background-color: #2aa0ef;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
}
.sample{
    height: 200px;
    width: 100%;
}
.brand{
    text-decoration: none;
    color: white;
}
.brand:hover{
    text-decoration: none;
    color: dodgerblue;
}
.social{
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    margin: 10px;
}
.social-custom{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}
.f32{
    font-size: 32px;
}